body {
    background: url("beanstalk.png");
    color: #777777;
    margin: 0 auto;
}
.container {
    padding: 10px;
}
#logo {
    background-color: #4aaaa5;
    margin-left: 95px !important;
}

@media screen and (max-width: 640px) {
    #logo {
      padding:0;
      margin:0 !important;
      width: 100% !important;
    }
}
    
#body {
    margin-top: 75px !important;
    margin-bottom: 50px !important;
}
