body {
    background: url("beanstalk.png");
    color: #777777;
    margin: 0 auto;
}
.container {
    padding: 10px;
}
#name {
    background-color: #4aaaa5;
}

@media (max-width: 978px) {
      padding:0;
      margin:0;
    }